---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About Me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        I'm an engineer with interests in quantitative finance and machine learning. I've had the privilege of working with:
      </p>
      <ul class="list-disc list-inside mt-2">
        <li><a href="https://investor.vanguard.com/" target="_blank" class="hover:text-primary-500 transition-colors">Vanguard</a></li>
        <li><a href="https://www.fulcrumasset.com/" target="_blank" class="hover:text-primary-500 transition-colors">Fulcrum Asset Management</a></li>
        <li><a href="https://www.angelenogroup.com/" target="_blank" class="hover:text-primary-500 transition-colors">The Angeleno Group</a></li>
        <li><a href="https://www.stanford.edu/" target="_blank" class="hover:text-primary-500 transition-colors">Stanford University</a></li>
        <li><a href="https://ajayan.rice.edu/index.html" target="_blank" class="hover:text-primary-500 transition-colors">Rice University</a></li>
        <li><a href="https://www.nasa.gov/" target="_blank" class="hover:text-primary-500 transition-colors">NASA</a></li>
      </ul>
    </div>
    <div class="text-sm font-light mt-2">
      <p class="mb-2">Technical Expertise:</p>
      <ul class="list-disc list-inside">
        <li>Machine Learning & Deep Learning</li>
        <li>Quantitative Analysis & Financial Modeling</li>
        <li>Full-Stack Development</li>
      </ul>
    </div>
    <div class="text-sm font-light mt-2">
      <p class="mb-2">Non-Technical Interests:</p>
      <ul class="list-disc list-inside">
        <li>Impromptu Speaking</li>
        <li>Speedcubing</li>
        <li>Calisthenics</li>
    </div>
  </div>
</Card>
