---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About Me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        I'm an engineer with interests in quantitative finance and machine learning. I've had the privilege of working with:
      </p>
      <ul class="list-disc list-inside mt-2">
        <li>Vanguard</li>
        <li>Fulcrum Asset Management</li>
        <li>The Angeleno Group</li>
        <li>Stanford University</li>
        <li>Rice University</li>
        <li>NASA</li>
      </ul>
    </div>
    <div class="text-sm font-light mt-2">
      <p class="mb-2">Technical Expertise:</p>
      <ul class="list-disc list-inside">
        <li>Machine Learning & Deep Learning</li>
        <li>Quantitative Analysis & Financial Modeling</li>
        <li>Full-Stack Development</li>
      </ul>
    </div>
    <div class="text-sm font-light mt-2">
      <p class="mb-2">Personality Points:</p>
      <ul class="list-disc list-inside">
        <li>Impromptu Speaking</li>
        <li>Speedcubing</li>
        <li>Calisthenics</li>
    </div>
  </div>
</Card>
